html,
body {
    height: 100%;
    width: calc(100% - 16px);
    text-align: center;
    margin: 0;
}

body {
    padding-left: 16px;
}

#myCanvas {
    position: relative;
}

img {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
}

img.left {
    transform: rotate(90deg);
}

img.right {
    transform: rotate(270deg);
}

img.up {
    transform: rotate(180deg);
}

.direction {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: #ddd;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}


/* img.display {
    position: relative;
    display: inline-block;
}

.name {
    display: inline-block;
    font-size: 1.5rem;
} */